.production-queue-modal {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    box-sizing: border-box;
    top: 115px;
  }

  h3 {
    text-align: center;
    margin-top: -0.5rem;
    padding: 1rem;
    margin-bottom: 0;
  }

  .production-item {
    padding: 5px;
    margin-bottom: 0.25rem;

    .body-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }

      .remove-button {
        padding: 0.5rem;
        border-color: crimson;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .ready-in-text {
    margin: 0;
    text-align: center;
    font-size: 0.85rem;
  }
}

.city-modal {
  position: absolute;
  top: 65px; // header height
  left: 0;
  width: 30%;
  max-width: 500px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  z-index: 10001;
  
  .city-modal-header {
    position: fixed;
    z-index: 2;
    width: 30%;
    max-width: 500px;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgb(49 44 38);
    background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  }

  .city-modal-body {
    margin-top: 100px;
    background: rgb(49 44 38);
    background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  }

  @media (max-width: 768px) {
    left: 0;
    top: 0;
    height: auto;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .close-icon {
    display: flex;
    justify-content: flex-end;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-header-tabs {
    width: fit-content;
    margin-bottom: 2rem;
    margin: 0.5rem auto;
  
    button {
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  h3 {
    text-align: left;
    font-size: 16px;
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    border-bottom: 2px solid #c8aa6e2e;
  }

  h3.units-header {
    margin-top: 2.5rem;
  }

  .modal-body {
    padding: 0 2rem;

    &:last-child {
      // height of header
      padding-bottom: 106px;
    }

    .body-item {
      display: flex; 
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 5px;

      @media (max-width: 768px) {
        flex-direction: column;
      
        .name-and-turns {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }

        .unit-stats-mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.15rem;

          div {
            display: flex; 
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
          }

          img {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
          }
        }
      }

      .number-of-turns {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          font-weight: bold;
          font-size: 0.9rem;
          margin-right: 0.25rem;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .body-item.locked {
      border: 1px solid #ccc;
      filter: blur(1px);
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.custom-tooltip {
  padding: 0 0.75rem;
  margin-bottom: 1rem;

  p.header {
    font-weight: bold;
    font-size: 1rem;
  }

  .research-required-text {
    b {
      font-size: 1.1rem;
    }
  }

  b {
    font-size: 1.3rem;
  }

  span {
    font-size: 1rem;
    display: flex;
    align-items: center;

    img {
      margin-left: 0.2rem;
    }
  }

  .line-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
  }

  .line-container::before,
  .line-container::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(180deg, #927f61 0%, #ffd48e 48.96%, #927f61 100%);
    position: relative;
  }

  .unit-stats-container {
    display: flex;
    justify-content: space-between;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .yield-container {
    display: flex;
    justify-content: center;
  }

  .resource-maintenance-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}


.modal-city-info {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  border: 1px solid var(--light-gradient, #927F61) !important;
  border-radius: 0.5rem;

  .city-name {
    background-image: url("../../public/icons/title-bg.png");
    padding: 10px 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #2E3A5B;
    margin-bottom: 1rem;
  }

  .unit-action-button {
    width: 100%;
    margin-top: 15px;
    border: 1px solid #928061;
    color: #ccbf91;
    font-size: 16px;

    .unit-icon {
      width: 24px;
      padding: 0 5px;
    }

    .stone-icon {
      padding-right: 0;
    }

    &:hover {
      border: 1px solid #3f2f20 !important;
      border-radius: 4px;
    }
  }

  .unit-action-button.disabled {
    cursor: not-allowed;
    background: linear-gradient(180deg, #373737 0%, #282828 100%);

    &:hover {
      border: 1px solid #928061 !important;
    }
  }

  .city-resources-income {
    display: flex;
    padding: 12px 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--brown-n900, #4B4034);

    .city-resource-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      flex: 1;
    }

    .divider {  
      width: 1px;
      height: 43px;
      background-color: #695A49;
    }
  }

  .line-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem 0;
  }

  .line-container::before,
  .line-container::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid #927F61;
    border-top: 1px solid #927F61;
    margin-top: 2px;
    position: relative;
  }

  ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
  }

  .city-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    // @todo: should be a gradient
    border-bottom: 1px solid #CAB37D;
  
    img {
      margin-right: 0.5rem;
    }

    .city-population {
      display: flex;
      flex-direction: column;
      align-items: start;

      .food-for-growth-text {
        color: var(--simple-text, #CDBE91);
        font-family: "Alegreya SC";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  
}

@media (max-width: 768px) {
  .modal-city-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .city-modal {
    width: 100%;
    left: 0;
    top: 0;
    // max-height: 100vh;
    overflow-y: scroll;
  }
  .city-modal-body {
    max-height: 100vh; // calc(100vh - 165px);
    overflow-y: auto;
    margin-top: 0 !important;
  }

  .city-modal .city-modal-header {
    position: relative;
    width: 100%;
  }
}