.production-queue-modal {
  position: absolute;
  top: 135px;
  right: 0;
  padding: 1rem;

  @media (max-width: 768px) {
    width: 100%;
  }

  h3 {
    text-align: center;
    margin-top: -0.5rem;
    padding: 1rem;
  }

  .production-item {
    padding: 1rem;
    margin-bottom: 0.25rem;

    .body-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }

      .remove-button {
        padding: 0.5rem;
        border-color: crimson;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.city-modal {
  position: absolute;
  top: 65px; // header height
  left: 0;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  z-index: 10001;
  
  .city-modal-header {
    position: fixed;
    width: 30%;
    height: 100px;
    background: rgb(49 44 38);
    background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  }

  .city-modal-body {
    background: rgb(49 44 38);
    background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
    padding-top: calc(100px + 0.5rem); // height of city-modal-header + 0.5rem
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .close-icon {
    display: flex;
    justify-content: flex-end;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-header-tabs {
    width: fit-content;
    margin-bottom: 2rem;
    margin: 0.5rem auto;
  
    button {
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  h3 {
    text-align: left;
    font-size: 16px;
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    border-bottom: 2px solid #c8aa6e2e;
  }

  h3.units-header {
    margin-top: 2.5rem;
  }

  .modal-body {
    padding: 0 2rem;

    &:last-child {
      // height of header
      padding-bottom: 106px;
    }

    .body-item {
      display: flex; 
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 5px;
    
      .number-of-turns {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          font-weight: bold;
          font-size: 0.9rem;
          margin-right: 0.25rem;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .body-item.locked {
      border: 1px solid #ccc;
      filter: blur(1px);
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.custom-tooltip {
  padding: 0 0.5rem;
  margin-bottom: 1rem;

  p.header {
    font-weight: bold;
    font-size: 1rem;
  }

  span {
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    img {
      margin-left: 0.5rem;
    }
  }
}


.modal-city-info {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;

  .city-name {
    padding: 0.5rem 0.25rem;

    h2 {
      margin: 0;
    }
  }

  .city-resources-income {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      margin-right: 0.25rem;
      
      img {
        margin-right: 0.25rem;
      }

      span {
        font-size: 1.15rem;
      }
    }
  }

  .city-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0.75rem;
    margin: 0 auto;

    span {
      margin-bottom: 0.5rem;
    }
  }

}