@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap");

body {
  background: rgb(46, 63, 75);
  background: linear-gradient(180deg, rgba(46, 63, 75, 1) 0%, rgba(30, 39, 52, 1) 100%);
  font-family: "Alegreya Sans SC", sans-serif;
}

button {
  font-family: "Alegreya Sans SC", sans-serif;
}

body.light-mode {
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

.tw-x-link {
  margin-top: 10px;
  color: #333;
}

h6 {
  font-size: 14px !important;
}

.react-joyride__tooltip {
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border: 2px solid #c8aa6e;
}

.home-container {
  height: 100vh;
}

.error-container {
  margin: 15px 0;
  font-size: 14px;
  max-width: 600px;
  line-height: 22px;
}

.center-grid {
  min-height: 100vh;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 256px;
  margin-bottom: 20px;
}

button.fixed-width-button {
  width: 200px;
  margin-top: 1rem !important;
  color: #DFD6B9;
  font-size: 1rem;
  text-transform: none;
  font-family: "Alegreya Sans SC", sans-serif;
  border-radius: 0.25rem;
  border: 1px solid var(--light-gradient, #927F61) !important;
  background: linear-gradient(180deg, #A38E5E 0%, #6B5B38 100%) !important;
  box-shadow: none;
}

button.fixed-width-button-secondary {
  width: 200px;
  margin-top: 1rem !important;
  color: #CDBE91;
  font-size: 1rem;
  text-transform: none;
  font-family: "Alegreya Sans SC", sans-serif;
  border-radius: 0.25rem;
  border: 1px solid var(--light-gradient, #927F61);
  background: linear-gradient(180deg, #75583E 0%, #3F2F20 100%) !important;
  backdrop-filter: blur(5.818181037902832px);
  box-shadow: none;

}

.full-screen {
  height: 100vh;
  width: 100%;
}

.top-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.bottom-nav {
  color: #fff;
  display: flex;
  margin-left: auto;
  position: fixed;
  top: 75px; // height of top-navigation
  right: 30px;
  z-index: 100;

  .nav-buttons-box {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;

    button {
      height: 100%;
      background-image: url("../../public/icons/round-button.png");
      background-size: 100% 100%;
      padding: 10px;
      margin: 5px 0;
      border-radius: 45px;

      &:hover {
        box-shadow: 0 0 5px 2px #c8aa6e;
        border-radius: 45px;
      }
    }
  }
}

header.top-navigation {
  color: #fff;
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border-bottom: 2px solid #c8aa6e;
  box-shadow: inset 0px 0px 0px 1px #000000b0, 0px 0px 0px 1px #000000b0;
  -webkit-box-shadow: inset 0px 0px 0px 1px #000000b0, 0px 0px 0px 1px #000000b0;
  -moz-box-shadow: inset 0px 0px 0px 1px #000000b0, 0px 0px 0px 1px #000000b0;
}

header.top-navigation .balance-container {
  display: flex;
  align-items: center;
}

header.top-navigation .balance-box {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-image: url("../../public/icons/balance-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header.top-navigation .balance-box.gems-resource {
  background-image: url("../../public/icons/balance-bg-light.png");
}

header.top-navigation .balance-box img {
  width: 24px;
  margin-right: 5px;
}

.game-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.game-map {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  /* justify-content: center; */
}

.game-tile {
  position: relative;
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  /* transition: 0.3s ease; */
}

div.unit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  z-index: 1;
  width: 90%;
  height: 90%;
  margin: 5px;
}

div.unit img {
  border-radius: 45px;
  box-shadow: 0px 2px 5px 0px #0000009a;
}

.unit.selected {
  box-shadow: 0 0 5px 2px #bea27a;
  filter: none !important;
  border-radius: 45px;
}

.unit.npc {
  box-shadow: 0 0 5px 2px #b62d3a;
  filter: none !important;
  border-radius: 45px;
}

.unit .health-bar {
  width: 100%;
  background-color: #d03847;
  position: absolute;
  height: 5px;
  top: -7px;
  left: 0;
}

.unit .health-bar .health {
  background-color: #31c315;
  position: absolute;
  height: 5px;
  top: 0px;
  left: 0;
}

.land-plot-resource {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 52%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  border-radius: 45px;
  padding: 4px;
  backdrop-filter: blur(2px);
  /* filter: grayscale(1); */
}

img.upgraded-tile {
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 90px;
  width: 125% !important;
  left: -10px;
  top: -8px;
}

.unit-info-window {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 30px 10px;
  width: 240px;
  z-index: 100;
  text-align: center;
  border: 4px solid var(--light-gradient, #927f61);
  background: linear-gradient(180deg, #604832 0%, #302921 100%);
  -ms-flex-negative: 0;
  color: #cdbe91;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);

  .line-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
  }

  img.avatar {
    max-width: 160px;
  }

  .center-image {
    width: 24px;
    z-index: 1;
    margin: 0 10px;
  }

  .line-container::before,
  .line-container::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(180deg, #927f61 0%, #ffd48e 48.96%, #927f61 100%);
    position: relative;
  }
}

.unit-info-window button.unit-action-button {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #928061;
  color: #ccbf91;
  font-size: 16px;
  text-transform: none;
}

.unit-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 5px;
}

.unit-info-window img.unit-icon {
  width: 24px;
  padding: 0 5px;
}

.unit-info-window strong {
  font-size: 1.5rem;
}

.in-range {
  /* filter: brightness(1.5); */
  filter: grayscale(1);
}

.game-tile:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  box-sizing: border-box;
  /* cursor: pointer; */
}

.game-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-header {
  color: white;
  text-align: center;
  padding: 0.25rem 0.5rem;
  /* height: 20px; */
  width: 125px;
  top: -3rem;
  left: -1rem;
  position: absolute;
}

.city-header .city-health-bar {
  background: red;
}

.city-header .city-health-bar-fill {
  background: green;
  padding: 1px;
}

.game-tile img.terrain {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  width: 114%;
  height: 110%;
  position: relative;
}

img.terrain.undiscovered {
  filter: brightness(0.5);
}

.game-tile img.terrain-overlay {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 75%;
  height: 75%;
  border: 2px solid #fff;
  border-radius: 90px;
}

.game-tile img.terrain.village {
  z-index: 1;
  width: 135%;
  top: -15px;
  left: -15px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.game-tile img.terrain.village:hover {
  cursor: pointer;
  filter: drop-shadow(-1px 2px 0 white) drop-shadow(2px -1px 0 rgba(255, 255, 255, 0.7))
    drop-shadow(-2px -1px 0 rgba(255, 255, 255, 0.7)) drop-shadow(1px 1.5px 10px rgba(255, 255, 255, 0.5));
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.star-icon {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-right: 5px;
}

.top-navigation button {
  margin: 0 5px;
  font-family: "Alegreya Sans SC", sans-serif;
}

.top-navigation button.end-turn-button {
  margin-left: auto;
  color: #dfd6b9;
  text-transform: none;
  border-radius: 3px;
  border: 1px solid var(--light-gradient, #927f61);
  background: linear-gradient(180deg, #a38e5e 0%, #6b5b38 100%);
  font-size: 0.9rem;
  font-weight: bold;
}

.top-navigation button.end-game-button,
.unit-action-button {
  color: #cdbe91;
  text-transform: none;
  border-radius: 3px;
  border: 1px solid var(--light-gradient, #927f61);
  background: linear-gradient(180deg, #75583e 0%, #3f2f20 100%);
}

.no-select {
  user-select: none;
  cursor: grab;
}

.no-select.grabbing {
  cursor: grabbing !important;
}

.tile-coordinate {
  position: relative;
  margin-top: -113px;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px;
  pointer-events: none;
}

/* village modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(49 44 38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: rgb(49 44 38);
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border: 4px solid var(--light-gradient, #927f61);
  -ms-flex-negative: 0;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.modal:focus-visible {
  outline: none !important;
}

.modal-end-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(49 44 38);
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border: 2px solid #c8aa6e;
  -ms-flex-negative: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 50px;
  border: 1px solid #3c4a57;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.custom-modal {
  background: rgba(55, 47, 38, 0.90);
  backdrop-filter: blur(16px);

  .title {
    background-image: url('../../public/icons/title-bg.png');
    padding: 10px 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #2E3A5B;
    margin: 0 10px;
  }

  .star-icon.left {
    left: 0;
    position: absolute;
    margin-left: -20px;
  }

  .star-icon.right {
    right: 0;
    position: absolute;
    margin-right: -20px;
  }

  .line-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
    width: 80%;
    margin: 30px 0;
  }

  .line-container::before,
  .line-container::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(180deg, #927f61 0%, #ffd48e 48.96%, #927f61 100%);
    position: relative;
  }
}

/* Console */
.console-container {
  padding: 10px;
  height: 170px;
  overflow: scroll;
  background-color: #333;
  color: white;
  width: 100%;
}

.console-message {
  color: white;
}

.console-message-error,
.error-container .error-message {
  color: #d10808;
}

.music-toggle-button {
  background: none;
  border: none;
  color: #cab37d;
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;

  &:hover {
    color: #6b5830;
  }
}

.vertical-divider {
  width: 5px;
  height: 35px;
  border-left: 1px dotted #c8aa6e;
}

.primary-border-with-box-shadow {
  background: rgb(49 44 38);
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border: 2px solid #c8aa6e;
  -ms-flex-negative: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

div.confirmation-modal {
  color: #fff;
  background: linear-gradient(180deg, rgba(168, 110, 50, 0.2) 0%, rgba(79, 38, 0, 0.2) 100%), rgba(30, 35, 40, 0.95);
  border: 2px solid #c8aa6e;
  -ms-flex-negative: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.yield-effect {
  text-align: center;
  width: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  border-radius: 5px;
  animation: flyUp 2s forwards;
  font-size: 16px;
  line-height: 1.5;
}

img.yield-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
}

@keyframes flyUp {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
