.achievements-item {
    border: 4px solid var(--light-gradient, #927f61);
    margin: 10px;
    padding: 10px;
    width: 33%;
    max-width: 250px;
    min-height: 440px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .achievements-item .item-title {
    padding: 5px;
    text-align: center;
    color: #ffffff;
  }

  .achievements-item .item-description {
    flex-grow: 1;
  }
  
  .achievements-items-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .achievements-item button.buy-button {
    margin-top: 10px;
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .achievements-item button.buy-button:hover {
    background: #77777761;
  }
  
  p.item-description {
    text-align: center;
    color: #ffffff85;
  }
  
  @media (max-width: 768px) {
    
    .achievements-item {
      width: 100%;
      margin: 15px 0;
    }
    
    .achievements-items-row {
      justify-content: center;
    }
  
  }
  