.research-tree {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 11px; // to show queue number 
  height: calc(100vh - 100px);
  overflow: scroll;

  -ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.research-column {
  width: 32%;
  position: relative;
}

.research-column::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dashed #927f61;
  z-index: -1;
}

.research-block.unlocked {
  &:hover {
    cursor: auto;
  }
}

.research-block {
  display: block;
  border-radius: 8px;
  border: 2px solid #927f61;
  background: linear-gradient(180deg, #5e4831 0%, #2b2217 100%);
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 10px;
  position: relative;
  align-items: center;
  
  &:hover {
    cursor: pointer;
  }

  .research-queue-number {
    position: absolute;
    top: -13px;
    left: -15px;
    border: 2px solid #927f61;
    background: linear-gradient(180deg, #5e4831 0%, #2b2217 100%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
  }
}

.research-block.unlocked {
  border: 2px solid #927f61;
  background: linear-gradient(180deg, #a18354 0%, #342b19 100%);
}

.research-block.locked {
  border-radius: 8px;
  border: 2px solid #808080;
  background: linear-gradient(180deg, #373737 0%, #282828 100%);
}

.research-block .bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.research-block .star-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  margin-left: 3px;
}

.research-block.locked .star-icon {
  filter: grayscale(1);
}

.research-cost {
  color: #cdbe91;
  font-size: 14px;
  margin-left: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.research-icon {
  flex: 0 0 auto;
  margin-right: 15px;
}

.top-section {
  display: flex;
}

.research-content {
  flex: 1;

  h3 {
    margin: 0;
  }

  .research-status {
    margin-top: 10px;
    width: 100%;
  }

  .research-block::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    display: none;
  }
  
  .research-block:last-child::after {
    display: none;
  }
}


.researched-wrapper {
  display: flex;
  align-items: center;

  span {
    color: #EDE8D8;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
  }
}


.metadata {
  color: #777;
  font-size: 0.9em;
  margin-top: 10px;
}

button.research-button {
  border-radius: 2px;
  border: 1px solid var(--light-gradient, #927f61);
  background: linear-gradient(180deg, #75583e 0%, #3f2f20 100%);
  backdrop-filter: blur(6px);
  text-transform: none;
  color: #dfd6b9;

  &:hover {
    border: 1px solid #3f2f20 !important;
    border-radius: 4px;
  }
}

.progress-wrapper {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.progress-text {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}

.research-tippy {
  .unit-stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
    }

    .unit-stats {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      
      p {
        margin: 0;
        padding: 0;

        span {
          font-weight: bold;
          font-size: 1.25rem;
          line-height: 0;
        }
      }
    }
  }
}

.new-research-block {
  padding: 0 16px;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

@media (max-width: 768px) { 
  .research-tree {
    flex-direction: column; 
    align-items: center; 
  }
  
  .research-column {
    width: 100%; 
    margin-bottom: 20px; 
  }
  
  .research-block {
    margin-bottom: 20px;
  }
  
  .research-column::before {
    display: none;
  }
}
